@import url(https://fonts.googleapis.com/css?family=Poiret+One);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
      body {
        padding: 0;
        margin: 0;
      }

      .bento_box {
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;
        padding: 1ch;
        min-block-size: 100vh;
      }

      .bento_container {
        display: grid;
        grid-template-rows: 500px 500px 500px 500px ;
        gap: 1ch;
        min-height: inherit;
        flex: 2 0 320px;
      }

      .bento_container[variant-1] {
        grid-template-columns: 400px 400px 400px;

        --bg: #FFDB58;
        /* --bg: #8db0be; */
        /* background: rgb(212,230,235);
        background: radial-gradient(circle, rgba(212,230,235,0.6392682072829132) 0%, rgba(0,212,255,0.6448704481792717) 100%); */
        /*  */
        /* background: rgb(212,230,235);
background: radial-gradient(circle, rgba(212,230,235,0.6392682072829132) 0%, rgba(0,212,255,0.42638305322128855) 100%); */
      }

      .bento_item {
        height: 100%;
        width: 100%;
        background-color: var(--bg);
        grid-column: var(--columns, span 1);
        grid-row: var(--rows, span 1);
        border-radius: 1rem;
        display: grid;
        position: relative;
        place-items: center;
      }

      /* PROFILE CARD START */
      .card {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
        max-width: 600px;
        height: 400px;
        display: flex;
        flex-direction: row;
        border-radius: 25px;
        position: relative;
      }
      .card h2 {
        margin: 0;
        padding: 0 1rem;
      }
      .card .title {
        padding: 1rem;
        text-align: center;
        color: rgb(121, 121, 120);
        font-weight: bold;
        font-size: 25px;
      }
      .card .desc {
        padding: 0.5rem 1rem;
        font-size: 12px;
      }
      .card .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding: 0.5rem 1rem;
      }
      .card svg {
        width: 85px;
        height: 85px;
        margin: 0 auto;
      }

      .img-avatar {
        width: 80px;
        height: 80px;
        position: absolute;
        border-radius: 50%;
        border: 6px solid white;
        background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
        top: 15px;
        left: 85px;
      }

      .card-text {
        display: grid;
        grid-template-columns: 1fr 2fr;
      }

      .title-total {
        padding: 2.5em 1.5em 1.5em 1.5em;
      }

      path {
        fill: white;
      }

      .img-portada {
        width: 100%;
      }

      .portada {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-image: url("https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/669b6d90fedb49001d542994.jpg");
        background-position: bottom center;
        background-size: cover;
      }

      button {
        border: none;
        background: none;
        font-size: 24px;
        color: #8bc34a;
        cursor: pointer;
        transition: 0.5s;
        
      }

      button:hover {
          color: #4caf50;
          transform: rotate(22deg);
        }

      .wrapper {
        height: 100vh;
        /* /This part is important for centering/ */
        display: grid;
        place-items: center;
      }

      .typing-demo {
        width: 12ch;
        animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 18px;
      }

      @keyframes typing {
        from {
          width: 0;
        }
      }

      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
      /* PROFILE CARD END */
      /* CHECKBOX  START */
      .checkbox-wrapper-5 .check {
      --size: 80px;
    
      margin-bottom: 50px;
      position: relative;
      background: linear-gradient(90deg,  #078898, #66B9BF);
      line-height: 0;
      perspective: 400px;
      font-size: var(--size);
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"],
    .checkbox-wrapper-5 .check label,
    .checkbox-wrapper-5 .check label::before,
    .checkbox-wrapper-5 .check label::after,
    .checkbox-wrapper-5 .check {
      appearance: none;
      display: inline-block;
      border-radius: var(--size);
      border: 0;
      transition: .35s ease-in-out;
      box-sizing: border-box;
      cursor: pointer;
    }
  
    .checkbox-wrapper-5 .check label {
      width: calc(2.2 * var(--size));
      height: var(--size);
      background: #d7d7d7;
      overflow: hidden;
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"] {
      position: absolute;
      z-index: 1;
      width: calc(.8 * var(--size));
      height: calc(.8 * var(--size));
      top: calc(.1 * var(--size));
      left: calc(.1 * var(--size));
      background: linear-gradient(45deg, #dedede, #ffffff);
      box-shadow: 0 6px 7px rgba(0,0,0,0.3);
      outline: none;
      margin: 0;
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
      left: calc(1.3 * var(--size));
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
      background: transparent;
    }
  
    .checkbox-wrapper-5 .check label::before,
    .checkbox-wrapper-5 .check label::after {
      content: "· ·";
      position: absolute;
      overflow: hidden;
      left: calc(.15 * var(--size));
      top: calc(.5 * var(--size));
      height: var(--size);
      letter-spacing: calc(-0.04 * var(--size));
      color: #9b9b9b;
      font-family: "Times New Roman", serif;
      z-index: 2;
      font-size: calc(.6 * var(--size));
      border-radius: 0;
      transform-origin: 0 0 calc(-0.5 * var(--size));
      backface-visibility: hidden;
    }
  
    .checkbox-wrapper-5 .check label::after {
      content: "●";
      top: calc(.65 * var(--size));
      left: calc(.2 * var(--size));
      height: calc(.1 * var(--size));
      width: calc(.35 * var(--size));
      font-size: calc(.2 * var(--size));
      transform-origin: 0 0 calc(-0.4 * var(--size));
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
      left: calc(1.55 * var(--size));
      top: calc(.4 * var(--size));
      line-height: calc(.1 * var(--size));
      transform: rotateY(360deg);
    }
  
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
      height: calc(.16 * var(--size));
      top: calc(.55 * var(--size));
      left: calc(1.6 * var(--size));
      font-size: calc(.6 * var(--size));
      line-height: 0;
    }
      /* CHECKBOX  END */

      :root {
        --num: 0;
        /* fungsinya sebagai nilai default suhu */
      }
      .bar_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 80px 100px;
        overflow: hidden;
        /* background: #cfd1e167; */
        box-sizing: border-box;
      }
      .bar_box {
        position: relative;
        width: 240px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .bar_box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background: linear-gradient(#fff, #fff, #e3e3e3);
        filter: blur(1px);
        z-index: 1;
      }

      .bar_box::after {
        content: "";
        position: absolute;
        top: 1px;
        right: -1px;
        width: 20px;
        height: 100%;
        background: #9d9d9d;
        filter: blur(1px);
        z-index: 1;
      }

      .bar_box .bar_shadow {
        position: absolute;
        width: 100%;
        height: 0%;
        background: #eee;
      }

      .bar_box .bar_shadow::before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(100% + 5px);
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
        transform: skewX(45deg);
      }

      .bar_box .bar_shadow::after {
        content: "";
        position: absolute;
        bottom: -200%;
        left: calc(100% + 15px);
        width: 100%;
        height: 200%;
        background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
        transform: skewX(45deg);
      }

      .bar_box .bar_content {
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(#dbdae1, #a3aaba);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
          15px 15px 15px rgba(0, 0, 0, 0.1), 20px 20px 20px rgba(0, 0, 0, 0.1),
          50px 50px 50px rgba(0, 0, 0, 0.1), inset 3px 3px 2px #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .bar_box .bar_content .bar_percent {
        position: relative;
        width: 150px;
        height: 150px;
      }

      .bar_box .bar_content .bar_percent::before {
        content: attr(data-text);
        position: absolute;
        inset: 20px;
        background: #555;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.75rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }

      .bar_box .bar_content .bar_percent svg {
        position: relative;
        width: 150px;
        height: 150px;
        transform: rotate(270deg);
      }

      .bar_box .bar_content .bar_percent svg circle {
        width: 100%;
        height: 100%;
        fill: transparent;
        stroke-width: 3;
        stroke: rgba(0, 0, 0, 0.05);
        transform: translate(5px, 5px);
      }

      .bar_box .bar_content .bar_percent svg circle:nth-child(2) {
        stroke: #555;
        stroke-dasharray: 440;
        stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
        opacity: 0;
        animation: fadeIn 1s linear forwards;
        animation-delay: 2.5s;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .bar_box .bar_content .bar_percent .bar_dot {
        position: absolute;
        inset: 5px;
        z-index: 10;
        animation: animateDot 2s linear forwards;
      }

      @keyframes animateDot {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(calc(3.6deg * var(--num)));
        }
      }

      .bar_box .bar_content .bar_percent .bar_dot::before {
        content: "";
        position: absolute;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        background: #555;
        border-radius: 50%;
      }

      .bar_box .bar_content .bar_number {
        position: relative;
        inset: 0;
        opacity: 0;
        animation: fadeIn 1s linear forwards;
        animation-delay: 2.5s;
      }

      .bar_box .bar_content .bar_number h2 {
        font-size: 2.5rem;
        color: #555;
      }

      .bar_box .bar_content .bar_number h2 span {
        font-weight: 300;
        font-size: 1.5rem;
      }

      /* style widget start */

  
        /* 20px: 20px; */
  
        body {
          font-family: Poiret One;
        }
        .widget {
          position: relative;
          top: 50%;
          left: 50%;
          display: flex;
          height: 300px;
          width: 600px;
          transform: translate(-50%, -50%);
          flex-wrap: wrap;
          cursor: pointer;
          border-radius: 20px;
          box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
            0 17px 17px 0 rgba(0, 0, 0, 0.15);
        }
        
  
          .weatherIcon {
            flex: 1 100%;
            height: 60%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background: #fafafa;
            font-family: weathericons;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 100px;
  
           
          }
          i {
              padding-top: 30px;
            }
  
          .weatherInfo {
            flex: 0 0 70%;
            height: 40%;
            /* background: #080705; */
            background: #008B8B;
            border-bottom-left-radius: 20px;
            display: flex;
            align-items: center;
            color: white;
          }
  
        .temperature {
              flex: 0 0 40%;
              width: 100%;
              font-size: 65px;
              display: flex;
              justify-content: space-around;
            }
  
            .description {
              flex: 0 60%;
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
              justify-content: center;
            }
  
              .weatherCondition {
                text-transform: uppercase;
                font-size: 35px;
                font-weight: 100;
              }
  
              .location {
                font-size: 15px;
              }
            
          
  
          .humid {
            flex: 0 0 30%;
            height: 40%;
            /* background: #70c1b3; */
            background: #FFD700;
            border-bottom-right-radius: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            font-size: 30px;
            font-weight: 800;
          }
        
  
        p {
          position: fixed;
          bottom: 0%;
          right: 2%;
        }
          a {
            text-decoration: none;
            color: #e4d6a7;
            font-size: 10px;
          }

        .widget_container {
          padding: 0;
          margin: 150px auto;
          height: 100px;
          width: 600px;
        }
          /* style widget end */